* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { -webkit-touch-callout: none; -webkit-text-size-adjust: none; user-select: none; background-color: #E4E4E4; background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%); background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%); background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%); background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4)); background-attachment: fixed; font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; font-size: 12px; height: 100%; margin: 0px; padding: 0px; width: 100%; background-color: #32383d; font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif; font-size: 12px; }

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app { background-position: left center; padding: 75px 0px 75px 170px; margin: -90px 0px 0px -198px; }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink { animation: fade 3000ms infinite; -webkit-animation: fade 3000ms infinite; }

#tblLetters { direction: rtl; font-size: 20pt; font-family: 'Times New Roman', Times, serif; width: 80%; margin: 0 auto; }
    #tblLetters td { padding: 3px; border: solid 1px #f1f1f1; margin: 0; text-align: center; vertical-align: middle; }
        #tblLetters td .nek { font-size: 25pt;margin:-33px 5px 0 0;  }
        #tblLetters td i { font-size: 15pt; color: #f1f1f1; }
